*
!.gitignore
!.bashrc
!.config/
!.config/nvim/
!.config/nvim/**
!.config/yabai/
!.config/yabai/**
!.config/skhd/
!.config/skhd/**
.config/nvim/lua/config/plugins/wtf.lua
.config/nvim/pack/
.DS_Store
